 trace {
        enabled = true
        file = "trace_file.\"
        fields = 'name,status,exit,duration,realtime,%cpu,%mem,rss,vmem,wchar'
   }

singularity.enabled = true

params.cnvnator_chr = '/path/to/cnvnator'
params.cnvnator_window = '300'
process.executor = 'slurm'

params.cpu = 1
params.time = "10:0:0"
params.mem = "30000MB"

params.svtypr.cpu="10"


params.genotype.cpu = 5
params.genotype.time = "24:0:0"
params.genotype.mem = "40GB"
